<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Medo | Admin - User</title>

    <th:block th:include="master::head"/>
    <link th:href="@{/css/medo/typeahead.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/medo/bootstrap-tagsinput.css}" rel="stylesheet" type="text/css"/>
</head>
<body class="skin-blue">
<header th:replace="master::header"/>

<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside th:replace="master::sidebar('userlist')"/>

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                User
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/}"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">User</li>
            </ol>
        </section>

        <section class="content">

            <div class="row">
                <!-- left column -->
                <div class="col-md-6">

                    <div class="alert alert-success alert-dismissable" th:if="${success}">
                        <i class="fa fa-check"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <th:block th:text="${success}"></th:block>
                    </div>


                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Rollen</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-condensed role-table">
                                <tr th:each="r : ${role_descriptions}">
                                    <td><span class="label label-info" th:text="${r.key}"></span></td>
                                    <td th:text="${r.value}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Neuer User</h3>
                        </div>
                        <div class="box-body">
                            <div class="callout callout-danger" th:if="${error}">
                                <h4>Fehler</h4>
                                <ul>
                                    <li th:text="${error}" class="globalerr"></li>
                                </ul>
                            </div>

                            <form role="form" th:action="@{/admin/users}" method="post">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="Username"
                                                       name="username"/>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <input type="password"
                                                       class="form-control"
                                                       placeholder="Passwort"
                                                       name="password"/>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <input type="password"
                                                       class="form-control"
                                                       placeholder="Passwort wiederholen"
                                                       name="password2"/>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                        <button type="submit" class="btn btn-primary">Anlegen</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">User bearbeiten</h3>
                        </div>
                        <div class="box-body">

                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th>Name</th>
                                    <th>Rollen</th>
                                    <th style="width: 20%">Aktionen</th>
                                </tr>
                                <tr th:each="u : ${users}">
                                    <td th:text="${u.username}">Name</td>
                                    <td>
                                        <form class="roles-form" th:action="@{/admin/users/{user}(user=${u.username})}" method="post">
                                            <input type="text" name="roles" placeholder="Rollen"
                                                   th:value="${#strings.listJoin(u.authorities, ',')}"
                                                   class="roles-input"/>
                                        </form>
                                    </td>

                                    <td th:unless="${u.username == 'admin'}">
                                        <button class="save-roles btn btn-sm btn-primary btn-flat">Speichern</button>
                                        <form th:attr="data-user=${u.username}" method="post"
                                              th:action="@{/admin/users/{name}/delete(name=${u.username})}">
                                            <button class="delete-user btn btn-sm btn-danger btn-flat">Löschen</button>
                                        </form>
                                    </td>
                                    <td th:if="${u.username == 'admin'}">
                                        Admin kann nicht geändert werden
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </section>

        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>

<th:block th:include="master::footer-js"/>
<script th:src="@{/js/medo/typeahead.bundle.min.js}"/>
<script th:src="@{/js/medo/bootstrap-tagsinput.min.js}"/>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    var allRoles = /*[[${roles}]]*/null;

    var roles = new Bloodhound({
        name: 'roles',
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: $.map(allRoles, function (state) {
            return {value: state};
        })
    });

    roles.initialize();

    $(function () {
        $('.delete-user').click(function (e) {
            e.preventDefault();
            var form = $(e.target).closest("form");
            var name = $(form).attr("data-user");

            var d = confirm("Benutzer " + name + " löschen?");
            if (d === true) {
                form.submit();
            }
        });

        $('.save-roles').click(function (e) {
            e.preventDefault();
            var tr = $(e.target).closest("tr");
            $(tr).find(".roles-form").submit();
        });

        $('.roles-input').tagsinput({
            freeInput: false,
            typeaheadjs: {
                displayKey: 'value',
                valueKey: 'value',
                name: 'roles',
                source: roles.ttAdapter()
            }
        });
    });
    /*]]>*/
</script>
</body>
</html>
