<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="'Medo | ' + ${article}"></title>
  <th:block th:include="master::head"/>
</head>
<body class="skin-blue">
<header th:replace="master::header"/>

<div class="wrapper row-offcanvas row-offcanvas-left">
  <aside th:replace="master::sidebar('search')"/>

  <aside class="right-side">
    <section class="content-header">
      <h1>Artikel</h1>
      <ol class="breadcrumb">
        <li><a th:href="@{/}"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Artikel</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row" th:each="article : ${articles}">
        <div class="col-md-8">
          <div class="box box-solid">
            <div class="box-header">
              <i class="fa fa-file-text-o"></i>

              <h3 class="box-title" th:text="${article}"/>
                        <span class="pull-right" style="padding: 10px">
                            <a th:href="@{/articles/} + ${article.id} + '/edit'">
                              <button class="btn btn-sm btn-default">Ändern</button>
                            </a>
                            <form method="post" th:action="@{/articles/} + ${article.id} + '/delete'"
                                  style="display:inline;">
                              <a>
                                <input type="submit" class="btn btn-danger btn-sm delete-btn" value="Löschen"/>
                              </a>
                            </form>
                        </span>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <dl class="dl-horizontal">
                <dt>Typ</dt>
                <dd th:text="${article.type}"></dd>
                <dt>Datum</dt>
                <dd th:text="${article.date}"></dd>
                <dt>Person</dt>
                <dd th:text="${article.author} ?: '&lt;Kein Autor&gt;'"></dd>
                <dt>Medium</dt>
                <dd th:text="${article.media}"></dd>
              </dl>

              <div class="text" th:utext="${article.text}"/>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>

    </section>
    <!-- /.content -->
  </aside>
  <!-- /.right-side -->
</div>

<th:block th:include="master::footer-js"/>
<script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  $(function () {
    $('.delete-btn').click(function (e) {
      e.preventDefault();
      var d = confirm("Artikel löschen?");
      if (d === true) {
        $(e.target).closest("form").submit();
      }
    });
  });
  /*]]>*/
</script>
</body>
</html>
