.text {
    font-family: georgia, 'times new roman', times, serif;
    font-size: 16px;
}

.search-result em {
    background: #FFFF00;
}

.form-group.required label:after {
    content: "*";
    color: red;
}

.alert-login {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}