<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Medo | Fehler</title>
    <th:block th:include="master::head"/>
</head>
<body class="skin-blue">
<header th:replace="master::header"/>

<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside th:replace="master::sidebar('')"/>

    <aside class="right-side">
        <section class="content-header">
            <h1>
                Fehler
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/}"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">Fehler</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <p>Ein Fehler ist aufgetreten <em th:text="${uri}"></em> </p>
            <pre th:text="${stackTrace}" />
        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>

<th:block th:include="master::footer-js"/>
</body>
</html>
